.ChatListItem {
	display: flex;
	justify-content: space-between;
	padding: 15px 5px;
	border-bottom: 1px solid #ccc;
	transition: background 0.3s ease-in-out;

	&:hover {
		background: #eee;
		cursor: pointer;
	}

	& > div {
		display: flex;
	}

	&.Active {
		background: #eee;
	}

	.Preview {
		margin-left: 15px;

		h4 {
			margin: 0;
			font-weight: 500;
			font-size: 15px;
			line-height: 0.9em;
		}

		p {
			margin: 0;
			color: #444;
			font-size: 14px;
		}
	}

	.Date {
		font-style: italic;
		color: #555;
		font-size: 14px;
		padding-right: 10px;
	}
}
