.ChatHeader {
	background: #eee;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 15px 20px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

	.Avatar {
		margin-bottom: 20px;
	}
}
